<html>
<!-- Head tag -->
<%- partial('_partial/head') %>
<body>
	<div id="site" class="site">
		<div id="sidebar" class="sidebar">
			<%- partial('_partial/sidebar') %>
		</div>
		<div id="content" class="site-content">
			<main id="main" class="site-main" role="main">
				<%- body %>
			</main>
		</div>
	</div>
    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>