<aside class="widget social-navigation">
    <ul>
        <li>
            <a href="http://twitter.com/G1edriusLt">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
		<li>
            <a href="https://toastedbuns.co.uk/rss2.xml">
                <i class="fa fa-rss" aria-hidden="true"></i>
            </a>
			
        </li>
		<li>
            <a href="https://toastedbuns.co.uk/podcast.xml">
                <i class="fa fa-podcast" aria-hidden="true"></i>
            </a>
        </li>
		<li>
            <a href="https://www.facebook.com/the.toasted.buns">
                <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</aside>

       